html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.modal-header {
    border-bottom: none !important;
}

thead, thead tr, thead th, tfoot.transaction-total, tfoot.transaction-total tr, tfoot.transaction-total td {
    background-color: #103333 !important;
    color: white !important;
}

body.modal-open {
    overflow-y: scroll !important; /* Prevents width from changing when modal opens */
    padding-right: 0px !important; /* Ensures no extra padding is applied */
}

body[data-page="category-index"].modal-open {
    overflow-y: auto !important; /* Ensures no forced scrollbar */
    padding-right: 0px !important; /* Prevents unwanted padding */
}

.navbar-nav .nav-link {
    transition: color 0.2s ease-in-out; /* Smooth color transition */
}

.navbar-nav .nav-link:hover {
    color: #FFD700 !important; /* Dark yellow color on hover */
}

.toast {
    border-radius: 10px !important; /* Radius value for rounded corners */
}